* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
    min-height: 100vh;
    background-color: #FAFAFA;
}

.insta-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    padding-top: 50px;
}

#mobile-devices {
    background: url(images/mobileDevices.PNG) center center;
    height: 580px;
    -ms-flex-preferred-size: 400px;
        flex-basis: 400px;
    background-repeat: no-repeat;
    background-size: content;
    margin-right: 15px;
}

.form-wrapper {
    -ms-flex-preferred-size: 350px;
        flex-basis: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

 #login-signup-form {
    border: solid #E6E6E6 1px;
    background: #ffffff;
    border-radius: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: fff;
    padding: 40px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}


.heading-group {
    margin-bottom: 10px;
} 

.heading-group2 {
    margin-bottom: 20px;
    position: relative;
}

.heading-group2 a {
    text-decoration: none;
    color: white;
}

#heading-primary {
    text-align: center;
}

.blue-btn {
    background-color: #3897F0;
    color: #F5FAFF;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    border-style: none;
    margin-top: 5px;
}

#fb-logo {
    height: 17px;
    position: absolute;
    left: 38px;
}

.horizontal-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.line {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background-color: #efefef;
    height: 1px;
}

.content-or {
    text-transform: uppercase;
    font-size: 13px;
    margin: 0 20px;
    color: #A2A2A2;
    font-weight: 500;
}

.form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.form-input {
    background-color: #FAFAFA;
    margin-bottom: 8px;
    border: #EFEFEF 1px solid;
    padding: 10px;
    border-radius: 3px;
    font-size: 12px;
}

.message {
    font-size: 14px;
    color: #B5B5B5;
    margin: 25px 20px 5px 20px;
    text-align: center;
    font-weight: 400;
}

.login{
    color: #656565;
    border: solid #E6E6E6 1px;
    border-radius: 1px;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    background-color: #fff;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
} 

.login a {
    text-decoration: none;
    color: #3897F0;
}

.app-store-link {
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.app-store-link p {
    margin: 0 auto 20px;
}

.app-store {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.apple-store {
    margin-right: 10px;
}

.app-store img {
    width: 140px;
    height: 40px;
}

.footer {
    margin-top: 90px;
    padding-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.footer ul {
    width: 950px;
    text-transform: uppercase; 
    list-style: none;
    padding: 0 15px 0 15px;
    font-size: 12px;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.footer a {
    text-decoration: none;
    color: #003569;
}

.footer .long-word {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
}

.footer .copyright {
    color: #AAAAAA;
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    text-align: right;
}


@media all and  (max-width: 875px) {
    /* .insta-container {
        display: flex;
        flex-direction: column;
    } */
    
    #mobile-devices {
        display: none;
    }

    .footer ul {
        -ms-flex-preferred-size: 400px;
            flex-basis: 400px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
     
    .footer li, .footer .long-word{
        -webkit-box-flex: 1;
            -ms-flex: 1 1 16%;
                flex: 1 1 16%;
        padding-bottom: 10px;
    }

    .footer .copyright {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 100%;
                flex: 1 1 100%;
        text-align: center;
    }
}